[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=ScratchFinder
Comment=ZeroConf Scratch Remote Sensor Protocol enumerator
Exec=scratch-finder.py
Icon=scratch-finder.png
Terminal=true

