[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Unicorn Hat Emulator
Comment=Unicorn Hat Emulator for Scratch
Exec=unicornemu.py
Icon=unicornemu.png
Terminal=false

