[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Name=unicornemu.py
Icon=application-default-icon
Path=/home/roger/unicornemu
Exec=python ./unicornemu.py
StartupNotify=false
StartupWMClass=Unicornemu.py
OnlyShowIn=Unity;
X-UnityGenerated=true
